@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: Azeret Mono; */

/* shared styles */
.description{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7

}

.second-title{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.first-purpose-title{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 400;
text-align: center;
opacity: 0.8;
}

#hero{
    height: 456px;
    background: url('./assets/Hero-bg.png');
    ;
    border: 2px dashed rgb(173, 171, 169);
   margin: 90px 0px;    
   padding: 0px;
   

}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.title{
    color: rgb(13, 19, 33);
font-size: 33px;
font-weight: 800;
line-height: 45px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 5px;
width: 600px;
height: 90px;
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.container .description{
color: rgb(13, 19, 33);
width: 500px;
height: 36px;
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 14px;
}
.btn-container{
    padding: 12px 14px 12px 14px;
    border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-size: 12px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 28px;
opacity: 0.7;
}
/* The Why webdev page starts */ 

.purpose{
    max-width: 946px;
    margin: 0 auto;
}
.purpose .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.first-purpose, .second-purpose, .third-purpose{
    display: flex;
    justify-content: space-between;
    margin: 32px 0px;
    padding: 48px;
}

.purpose-button{
   
    padding: 12px 20px 12px 20px;
    margin: 0px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 20px;
}

.purpose-content{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
    padding: 0px 0px;
    margin-bottom: 138px;

}

/* My inspiration section starts */
.inspiration{
    max-width: 1140px;
    max-height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0 auto;
    
}

